<div class="expander">
    <div (click)="toggleArea()" 
    [ngClass]="isExpanded ? 'open expanderHeader' : 'closed expanderHeader'"
    >
      Expander
      <svg class="expanderIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
    </div>
    
    
      <div *ngIf="isExpanded">
        <div class="hint">[EXPANDER OPENED]</div>
        <ul mgnl-area [name]="'expanderItems'" [content]="content"></ul>

      </div>
    
  </div>
