<nav class="Navigation">
  <ng-template ngFor let-item [ngForOf]="navItems">
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="getLink(item)"
      >{{ item.navigationTitle || item.title || item["@name"] }}</a
    >
  </ng-template>
  <div class="languages">
    <ng-template ngFor let-language [ngForOf]="languages">
      <span
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="clickLanguage(language)"
        >{{ language }}</span
      >
    </ng-template>
  </div>
</nav>
